@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("../images/fondo.png");
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  width: 100%;
}

h1,
h3 {
  padding: 10px 0px 40px 0px;
  background-color: black;
  width: 100%;
  color: white;
  display: flex;
  justify-content: center;
  margin: 0px 0px 15px 0px;
  font-family: "Amatic SC", cursive;
  font-size: 80px;
}

.form {
  background-color: rgb(192, 192, 192);
  padding: 05px 0px 05px 0px;
  margin: 0px 0px 15px 0px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: "Amatic SC", cursive;
  font-size: 30px;
}

input {
  height: 30px;
}

button {
  font-family: "Amatic SC", cursive;
  font-size: 30px;
}

.table {
  display: flex;
  justify-content: center;
  font-family: "Amatic SC", cursive;
  font-size: 20px;
}

th {
  width: auto;
  border: 1px solid black;
  margin: 0px;
  padding: 9px;
  background-color: white;
  color: black;
  border-radius: 6px;
}
td {
  background-color: rgb(192, 192, 192);
  border-radius: 6px;
}

/* dinowarriors style */

.dinoPanelSelect {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

div img {
  display: flex;
  border-radius: 10px;
  font-size: 40px;
  justify-content: center;
  margin: 10px;
}

.container {
  display: none;
  width: 600px;
  height: 400px;
  background-color: gray;
  padding: 10px;
  margin: 20px;
  color: azure;
  border-radius: 15px;
}

.CardDesign {
  display: grid;
  width: 100%;
  height: 400px;
  grid-template-columns: 1.2fr 1fr;
  align-items: center;
  border-radius: 15px;
}

#dinoPanel {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
